asgiref==3.2.10
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cssselect2==0.4.1
decorator==4.4.2
distlib==0.3.4
Django==3.1
django-colorfield==0.4.5
django-crispy-forms==1.13.0
filelock==3.4.2
fonttools==4.28.3
future==0.18.2
html5lib==1.1
huepy==1.2.1
idna==3.3
imageio==2.15.0
imageio-ffmpeg==0.4.5
iniconfig==1.1.1
instabot==0.117.0
Markdown==3.3.6
mock==4.0.3
moviepy==1.0.3
numpy==1.22.2
packaging==21.3
Pillow==8.4.0
pipenv==2022.1.8
platformdirs==2.4.1
pluggy==1.0.0
proglog==0.1.9
psycopg2==2.9.1
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydyf==0.1.2
PyJWT==2.3.0
pyparsing==3.0.7
pyphen==0.11.0
PySocks==1.7.1
pytest==7.0.0
python-decouple==3.5
python-dotenv==0.12.0
pytz==2021.3
razorpay==1.2.0
requests==2.26.0
requests-toolbelt==0.9.1
responses==0.18.0
schedule==1.1.0
six==1.16.0
sqlparse==0.4.2
static3==0.7.0
svgwrite==1.4.1
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.0
tqdm==4.62.3
Tree==0.2.4
twilio==7.3.0
Unipath==1.0
urllib3==1.26.7
virtualenv==20.13.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
weasyprint==53.4
webencodings==0.5.1
zopfli==0.1.9
